body{
  
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
}

p{ 
    margin: 10px 0
    
}

button{
    color: white;
    background-color:#A9A9A9;
    width: 4rem;
    font-size: 3rem;
    border-radius: 10px;
}

button:hover{
    color: #A9A9A9;
    background-color: white;
    
}

input{
    font-size: 3rem;
    width: 7rem;
    border: #A9A9A9 3px solid;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}